@import 'tailwindcss';
@import './styles/tokens.css';
@import './styles/themes.css';
@import './styles/utilities.css';

@plugin "tailwindcss-animate";

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-border);
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }
}
